
header img{
    height:18%; 
    width:80%;
}
#Uwindsor{
    width: 200px;
}

#AnimalC {
    width: 200px;
}
figure {
    width: 200px;
    height: 200px;
}
figcaption {
    position:absolute;
    top: 40%;
    left: 10%;
    color: brown;
}
.hide{
    display: none;
}
section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
