#Uwindsor, #AnimalC , #WordS{
    height: 20%;
    width: 20%;
}

header, .content, article, .images, aside , footer{
    border: 2px solid green;
}
body {
    display: grid;
    grid-template-areas: 'header header header'
                         ' main content menu' 
                         'images images menu'
                         'footer footer menu' ;
    gap:10px;
}

header { 
    grid-area:header ;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
header > img {
    border: 2px solid green;
    grid-row: 1;
    grid-column: 1;
}

header > p {
    border: 2px solid green;
    grid-row: 1;
    grid-column: 3;
}
section.content {grid-area: main;}
article {grid-area: content;}
aside {
    grid-area: menu;
    animation-name: animation1;
    animation-duration: 5s;
    animation-iteration-count: 2;
}
footer {grid-area: footer;}
section.images{grid-area: images;}

#Uwindsor{
    transition: width 3s;
}
#Uwindsor:hover {
    width: 300px;
}
#AnimalC:hover {
    transform: scale(2);
}

.brown {
    background-color: brown;
    color: beige;
}

.box {
    border: dashed 2pt black;
    margin: 3em;
}

footer>div {
    background-color: orangered;
    width: 60px;
    height: 15px;
}

